{erl_opts, [
    debug_info,
    {src_dirs, ["erlang"]}
]}.
{deps, []}.
{pre_hooks, [
    {"linux", compile, "make -C erlang/c_src"}
]}.
{post_hooks, [
    {"linux", clean, "make -C erlang/c_src clean"}
]}.
{plugins, [rebar3_proper]}.
{profiles,
    [{test, [
        {deps, [{proper, "1.5.0"}]}
    ]}
]}.
{proper_opts, [
    {dir, "erlang"}
]}.
